html {
  scroll-behavior: smooth;
  /* html */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}



@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

